{% set type = type is defined ? type : "image" %}
{% set galleryStyle = galleryStyle is defined ? galleryStyle  : "article" %}
{% set owl      = '' %}
{% set owlClass = '' %}

{% set imgWidth  = imageSize.width  is defined ? imageSize.width  : 970 %}
{% set imgHeight = imageSize.height is defined ? imageSize.height : 440 %}
{% set gravity   = 'faces:auto' %}
{% set mobImgHeight = imageSize.height is defined ? imageSize.height : 250 %}


{# For gallery pages, we want images to be seen full height and maintain aspect ratio,
with width taken up with borders on the side #}
{% if galleryStyle == "gallery" %} 
    {% set imgWidth = 0 %}
    {% set imgHeight = 515 %}
    {% set gravity = 'auto' %}
    {% set mobImgHeight = 250 %} 
{% elseif galleryStyle == "property" %}
    {% set imgWidth = 0 %}
    {% set imgHeight = 350 %}
    {% set gravity = 'auto' %}
    {% set mobImgHeight = 250 %}
{% endif %}


{% if ( media | length > 1 ) %}
    {% set owl = "owl-gallery-" ~ type %}
    {% set owlClass = ' owl-carousel owl-shep-theme owl-carousel__base'%}
{% else %}
    {% set owlClass = ' article-gallery__single' %}
{% endif %}

{% set defaultClass = default is defined and default == true ? " default" : "" %}

{# Used for the article gallery to add some caption html #}
{% set caption = html is defined and html != '' ? html : false %}


<div id="{{owl}}" class="article-gallery owl-gallery-{{type}}{{owlClass}}{{defaultClass}}" data-slider-id="1" data-default="{{default}}">
    {% for image in media %}

        {% set articleImgSmall = _Media.getMediaUrl(image,0, 250, {'crop': 'fill', 'gravity': gravity} ) %}
        {% set articleImgMedium = _Media.getMediaUrl(image,0, 500, {'crop': 'fill', 'gravity': gravity} ) %}
        {% set articleImg = _Media.getMediaUrl(image, imgWidth, imgHeight, {'crop': 'fill', 'gravity': gravity} ) %}

        <figure class="article-gallery__image article-gallery__image-{{galleryStyle}}" data-hash="{{loop.index}}">
                
            {% if image.type == 'image' or image.type == 'doc' %} 
                <div class="article-gallery__img-container article-gallery__img-container-{{galleryStyle}}">
                    <picture>
                        <source media="(max-width: 728px) and (min-width: 501px)" srcset="{{articleImgMedium}}">
                        <source media="(max-width: 295px)" srcset="{{articleImgSmall}}">
                        <img class="article-gallery__img" src="{{articleImg}}">
                    </picture>
                </div>
            {% endif %}                
            
            
            {% if image.type == 'video' %} 
                
                {% set mediaUrl = "" %}
                
                {% if image.isSystemVideo == 'TRUE'%}
                    
                    {% set mediaUrl = _Media.getMediaVideoUrl(image, 0, 0,{resource_type: 'video', format: 'mp4'})  %}

                    <video controls class="article-video" poster="{{image.path}}">
                        <source src="{{mediaUrl}}" type="video/mp4"/>
                    </video>
                
                {% else %}

                    {% if image.source == 'youtube' %}
                        {% set mediaUrl = "//www.youtube.com/embed/" ~ image.videoId ~ '?enablejsapi=1&version=3&playerapiid=ytplayer' %}
                    
                    {% elseif image.source == 'vimeo' %}
                        {% set mediaUrl = "//player.vimeo.com/video/" ~ image.videoId  %}
                        {{this.registerJsFile("https://player.vimeo.com/api/player.js")}}
                    
                    {% elseif image.source == 'brightcove' %}

                        {% set videoId      = image.videoId | split("::")[0]  %}
                        {% set accountID    = image.videoId | split("::")[1]  %}
                        {% set playerID     = image.videoId | split("::")[2]  %}
                        {% if playerID == '' %}
                            {% set playerID = 'default' %}
                        {% endif %}
                        {% set mediaUrl = "//players.brightcove.net/" ~ accountID ~ "/" ~ playerID ~ "_default/index.html?videoId=" ~ videoId ~ "&playsinline"  %}
                    {% endif %}


                    <iframe src="{{mediaUrl}}" 
                        class="external-article-video"
                        data-source={{image.source}}
                        allowfullscreen
                        webkitallowfullscreen
                        mozallowfullscreen
                        style="width: 100%; height: 100%; top: 0px; bottom: 0px; right: 0px; left: 0px;">
                    </iframe>
    
                {% endif %}

            {% endif %}

            <span class="category">{{ label}}</span>

            <figcaption class="article-gallery__caption">
                <p class="">{{image.caption | raw }}</p>
            </figcaption>
        </figure>



    {% endfor %}
</div>