{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{this.registerJs("HomeController.listing();")}}
{% set limit = 13 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set articleCount = 0 %}
{% set articleTest = 0 %}

{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'network' }) %}


{% set sections =  {
        "Breaking News": {
            "feed": "",
            "link": ""
        }, 
        "Take Your Pick": {
            "feed": "",
            "link": ""
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}

        {% if blog.title | lower == key | lower %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 9, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}








    <section class="content-block container top site-main site-main__top u-no-margin-bottom">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                'position': (articleCount+1), 
                                containerClass: 'col-sm-8 card-feat card-feat-tablet card-feat-mobile u-mobile-no-padding',
                                imageSize: {width:1095, height:698}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-feat-mini card-feat-mini-tablet card-feat-mini-mobile',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-feat-mini card-feat-mini-tablet card-feat-mini-mobile',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                </div><!--row-->
            </div>
        </div>
    </section>



    <section class="content-block container top site-main u-no-margin-top u-margin-bottom-40">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                'position': (articleCount+1), 
                                containerClass: 'col-sm-8 card-md',
                                imageSize: {width:660, height:500}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-sm',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-sm',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-8 card-md',
                            imageSize: {width:660, height:500}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                </div><!--row-->
            </div>



            <div class="col-md-3 col-sm-12">
                <aside class="left-border">
                    

                    {% if sections['Take Your Pick'].feed.articles|length > 0 %}

                    <section class="aap-news">
                        
                        <a href ="{{ sections['Take Your Pick'].link }}" class="col-sm-12 u-margin-bottom-20"><h2>TAKE YOUR PICK</h2></a>
                        {% for i in 0..5 %}
                            {% if sections['Take Your Pick'].feed.articles[i] %}
                                {{this.render('partials/_single-article.twig', {article: sections['Take Your Pick'].feed.articles[i], containerClass: 'col-sm-6 col-md-12'}) | raw}}
                            {% endif %}
                        {% endfor %}

                        {# <a href="{{ sections['Take Your Pick'].link }}" class="viewmore">VIEW MORE</a> #}
                    </section>
                    {% endif %}
                </aside>
            </div>
            
        </div>
    </section>









    <section class="container highlight content-block u-margin-bottom-40">
        {% if articles[articleCount] %}
            {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'card-full card-full-tablet card-full-mobile'}) | raw}}
            {% set articleCount = articleCount + 1 %}
        {% endif %}
    </section><!--highlight-->






    <section class="content-block container site-main">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <aside class="right-border">
                    
                    

                    {% if sections['Breaking News'].feed.articles|length > 0 %}

                        <section class="row top-stories-sidebar">
                            
                            <h2 class="u-no-margin-bottom">BREAKING NEWS</h2>
                            <h2>FROM <img src="{{networkData.templatePath}}/static/images/aap.jpg"></h2>

                            {% for i in 0..8 %}
                                {% if sections['Breaking News'].feed.articles[i] %}
                                    {{this.render('partials/_sidebar-article.twig', {article: sections['Breaking News'].feed.articles[i], containerClass: 'col-sm-6 col-md-12'}) | raw}}
                                {% endif %}
                            {% endfor %}

                            <a href="{{ sections['Breaking News'].link }}" class="viewmore col-sm-12">VIEW MORE</a>
                        </section>
                    {% endif %}
                </aside>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="row">

                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-sm',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                'position': (articleCount+1), 
                                containerClass: 'col-sm-8 card-md',
                                imageSize: {width:660, height:500}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-sm',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-sm',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            'position': (articleCount+1), 
                            containerClass: 'col-sm-4 card-sm',
                            imageSize: {width:600, height:340}
                        }) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                </div><!--row-->
            </div>
            

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-9 col-md-offset-3 section__content">
                <div class="row">
                    <div class="ajaxArticles clearfix " 
                    data-offset="{{limit}}" 
                    data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}">
                        
                    </div>
                    <a class="loadMoreArticles" href="#">LOAD MORE</a>
                </div>
            </div>

            {% set noDataCls = 'hide' %}
            {% if articles|length == 0 %}
                {% set noDataCls = '' %}
             {% endif %}
            <div class="row text-center has-margin-bottom-20 has-margin-top-20 {{noDataCls}} NoArticlesMsg">
                <p class="no-data text-center">No articles found.</p>  
            </div>
        </div>

    </section>


